In [11]:
import pandas as pd

In [12]:
pd.set_option('display.max_columns', None)

In [13]:
def percentual_valor(df, coluna, valor):
    total = len(df[coluna])
    ocorrencias = (df[coluna] == valor).sum()
    percentual = (ocorrencias / total) * 100
    return round(percentual, 2)

In [14]:
df_veiculos = pd.read_excel('../Formato Novo/veiculos_2022-2025.xlsx')

In [15]:
df_veiculos.tipo_veiculo.value_counts()

tipo_veiculo
AUTOMOVEL         320453
MOTOCICLETA       275146
NAO DISPONIVEL     96020
CAMINHAO           27675
OUTROS             21389
ONIBUS             16549
BICICLETA            389
Name: count, dtype: int64

In [16]:
percentual = percentual_valor(df_veiculos, 'tipo_veiculo', 'NAO DISPONIVEL')
print(f"{percentual:.2f}%")

12.67%

In [ ]:
df_veiculos = df_veiculos.drop(columns={'tipo_veiculo'})

# A coluna foi removida pois apresenta um percentual razoável de valores não disponíveis.
# Além disso, a mesma coluna se encontra na base de sinistros com menos valores faltantes.

# The column was removed due to a considerable percentage of unavailable values.
# Additionally, the same column is present in the accidents dataset with fewer missing values.

In [17]:
df_veiculos.cor_veiculo.value_counts()

cor_veiculo
PRETA                   153996
BRANCA                  121322
PRATA                   112302
VERMELHA                 85629
CINZA                    65173
AZUL                     42936
VERDE                    12290
AMARELA                   6952
Branco                    5816
Preta                     5125
BEGE                      4387
Prata                     3855
Vermelho                  3005
LARANJA                   2525
Cinza                     2246
MARROM                    2076
Azul                      1925
ROXA                      1863
FANTASIA                   989
DOURADA                    981
Verde                      593
ROSA                       569
Amarelo                    415
VERMELHA/PRETA             193
Bege                       167
Laranja                    141
BRANCA (PADRAO PM)         129
GRENA                      118
BRANCA/VERMELHA             90
BRANCA (PADRAO CPAMB        77
Roxa                        71
Marrom                      71
CINZA BANDEIRANTE           61
Fantasia                    56
CIN/VER/PRE                 54
BRANCA/CINZA ESCURO         34
Dourada                     33
Não Informado               32
BRANCA (PADRAO CPRV)        25
CINZA PM (PADRAO ROT        23
BRANCA PADRAO CPTRAN        20
BRANCA/CINZA BANDEIR        15
Rosa                        14
SEM IDENTIFICAÇÃO           11
Grena                        7
CAMUFLADO URBANO             3
CAMUFLADO RURAL              2
Name: count, dtype: int64

In [18]:
df_veiculos.cor_veiculo = df_veiculos.cor_veiculo.str.title()

In [19]:
df_veiculos = df_veiculos.drop(columns={
    'ano_sinistro',
    'mes_sinistro',
    'dia_sinistro',
    'ano_mes_sinistro'
})

In [20]:
df_veiculos

,id_sinistro,ano_fab,ano_modelo,cor_veiculo,data_sinistro,tipo_veiculo
0,2264832,0.0,0.0,NaN,2022-01-01,NAO DISPONIVEL
1,1820312,0.0,0.0,NaN,2022-01-01,NAO DISPONIVEL
2,1948466,0.0,0.0,NaN,2022-01-01,NAO DISPONIVEL
3,1334206,2015.0,2016.0,Marrom,2022-01-01,AUTOMOVEL
4,1510855,2016.0,2016.0,Cinza,2022-01-01,AUTOMOVEL
...,...,...,...,...,...,...
757616,2607776,NaN,NaN,NaN,2025-05-31,AUTOMOVEL
757617,2608697,2013.0,2013.0,Prata,2025-05-31,AUTOMOVEL
757618,2608031,2009.0,2010.0,Prata,2025-05-31,AUTOMOVEL
757619,2610195,2022.0,2023.0,Bege,2025-05-31,MOTOCICLETA
757620,2610195,2024.0,2025.0,Laranja,2025-05-31,AUTOMOVEL

In [21]:
#df_veiculos.to_excel("veiculos.xlsx")