In [34]:
import pandas as pd
import numpy as np

In [35]:
def percentual_valor(df, coluna, valor):
    total = len(df[coluna])
    ocorrencias = (df[coluna] == valor).sum()
    percentual = (ocorrencias / total) * 100
    return round(percentual, 2)

In [36]:
df_pessoas = pd.read_excel('../Formato Novo/pessoas_2022-2025.xlsx')

In [37]:
pd.set_option('display.max_columns', None)

In [38]:
df_pessoas

,id_sinistro,municipio,tipo_via,tipo_veiculo_vitima,sexo,idade,data_obito,gravidade_lesao,tipo_de vítima,faixa_etaria_demografica,faixa_etaria_legal,profissao,data_sinistro,ano_sinistro,mes_sinistro,dia_sinistro,ano_mes_sinistro,ano_obito,mes_obito,dia_obito,ano_mes_obito
0,1819301,ORIENTE,RODOVIAS,NaN,MASCULINO,35.0,NaT,LEVE,CONDUTOR,35 a 39,35-39,CONFERENTE,2022-01-01,2022,1,1,2022/01,NaN,NaN,NaN,NaN
1,1473586,ILHA COMPRIDA,VIAS MUNICIPAIS,NaN,MASCULINO,43.0,NaT,NAO DISPONIVEL,CONDUTOR,40 a 44,40-44,ATENDENTE,2022-01-01,2022,1,1,2022/01,NaN,NaN,NaN,NaN
2,1556174,IGARAPAVA,RODOVIAS,NaN,FEMININO,27.0,NaT,LEVE,CONDUTOR,25 a 29,25-29,BIOMEDICO(A),2022-01-01,2022,1,1,2022/01,NaN,NaN,NaN,NaN
3,1538224,SAO PAULO,VIAS MUNICIPAIS,NaN,MASCULINO,20.0,NaT,NAO DISPONIVEL,NAO DISPONIVEL,20 a 24,18-24,NaN,2022-01-01,2022,1,1,2022/01,NaN,NaN,NaN,NaN
4,1904878,LEME,VIAS MUNICIPAIS,NaN,MASCULINO,44.0,NaT,GRAVE,NAO DISPONIVEL,40 a 44,40-44,SEGURANCA,2022-01-01,2022,1,1,2022/01,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888987,2608847,ITAPIRA,VIAS MUNICIPAIS,NaN,MASCULINO,31.0,NaT,NAO DISPONIVEL,CONDUTOR,30 a 34,30-34,MOTORISTA,2025-05-31,2025,5,31,2025/05,NaN,NaN,NaN,NaN
888988,2596088,SAO PAULO,VIAS MUNICIPAIS,NaN,FEMININO,40.0,NaT,NAO DISPONIVEL,CONDUTOR,40 a 44,40-44,MILITAR NA ATIVA,2025-05-31,2025,5,31,2025/05,NaN,NaN,NaN,NaN
888989,2596982,SAO PAULO,VIAS MUNICIPAIS,NaN,FEMININO,42.0,NaT,LEVE,NAO DISPONIVEL,40 a 44,40-44,VENDEDOR(A),2025-05-31,2025,5,31,2025/05,NaN,NaN,NaN,NaN
888990,2602909,TEODORO SAMPAIO,VIAS MUNICIPAIS,NaN,FEMININO,53.0,NaT,LEVE,CONDUTOR,50 a 54,50-54,ASSISTENTE SOCIAL,2025-05-31,2025,5,31,2025/05,NaN,NaN,NaN,NaN
888991,2600028,MOGI DAS CRUZES,VIAS MUNICIPAIS,NaN,FEMININO,37.0,NaT,NAO DISPONIVEL,CONDUTOR,35 a 39,35-39,DO LAR,2025-05-31,2025,5,31,2025/05,NaN,NaN,NaN,NaN

In [39]:
def percentual_nulos(df, coluna):
    return df[coluna].isna().mean() * 100

# Exemplo de uso:
percentual = percentual_nulos(df_pessoas, 'tipo_veiculo_vitima')
print(f"{percentual:.2f}%")

97.81%

In [40]:
df_pessoas = df_pessoas.drop(columns={
    'ano_sinistro',
    'mes_sinistro',
    'dia_sinistro',
    'ano_mes_sinistro',
    'ano_obito',
    'mes_obito',
    'dia_obito',
    'ano_mes_obito',
    'tipo_veiculo_vitima'
})

In [41]:
df_pessoas.gravidade_lesao.value_counts()

gravidade_lesao
NAO DISPONIVEL    426087
LEVE              398082
GRAVE              45332
FATAL              19491
Name: count, dtype: int64

In [42]:
df_pessoas = df_pessoas.drop(columns='gravidade_lesao')

# A coluna foi removida pois apresenta um alto percentual de valores não disponíveis.
# Além disso, a mesma coluna se encontra na base de sinistros com menos valores faltantes.

# The column was removed due to a high percentage of unavailable values.
# Additionally, the same column is present in the accidents dataset with fewer missing values.

In [43]:
df_pessoas['tipo_de vítima'].value_counts()

tipo_de vítima
NAO DISPONIVEL    431776
CONDUTOR          421046
PEDESTRE            4475
PASSAGEIRO          2198
Name: count, dtype: int64

In [44]:
df_pessoas['tipo_de vítima'] = df_pessoas['tipo_de vítima'].str.title()

In [45]:
df_pessoas['tipo_de vítima'] = df_pessoas['tipo_de vítima'].replace("Nao Disponivel", None)

In [46]:
df_pessoas.tipo_via.value_counts()

tipo_via
VIAS MUNICIPAIS    737218
RODOVIAS           150619
NAO DISPONIVEL       1155
Name: count, dtype: int64

In [47]:
df_pessoas.tipo_via = df_pessoas.tipo_via.str.title()

In [48]:
df_pessoas.tipo_via = df_pessoas.tipo_via.replace("Nao Disponivel", None)

In [49]:
df_pessoas.municipio.value_counts()

municipio
SAO PAULO                208281
RIBEIRAO PRETO            22575
CAMPINAS                  22071
GUARULHOS                 21543
SAO JOSE DO RIO PRETO     17788
                          ...
FLORA RICA                   11
NOVA CASTILHO                 8
SAO JOAO DE IRACEMA           8
RIBEIRAO DOS INDIOS           8
URU                           3
Name: count, Length: 645, dtype: int64

In [50]:
df_pessoas.municipio = df_pessoas.municipio.str.title()

In [51]:
df_pessoas.profissao.value_counts()

profissao
MOTORISTA                       80151
AUTONOMO(A)                     52666
MOTO-BOY                        47247
APOSENTADO(A)                   41536
ESTUDANTE                       33437
                                ...
Supervisor(a) compras/vendas        1
Consultor tecnico                   1
Montador de moveis madeira          1
Tecnico em radiologia               1
Topografo(a)                        1
Name: count, Length: 861, dtype: int64

In [52]:
df_pessoas.profissao = df_pessoas.profissao.str.title()

In [53]:
df_pessoas.sexo.value_counts()

sexo
MASCULINO         638050
FEMININO          249350
NAO DISPONIVEL      1592
Name: count, dtype: int64

In [54]:
df_pessoas.sexo = df_pessoas.sexo.str.title()

In [55]:
df_pessoas.sexo = df_pessoas.sexo.replace("Nao Disponivel", None)

In [56]:
df_pessoas.dtypes

id_sinistro                          int64
municipio                           object
tipo_via                            object
sexo                                object
idade                              float64
data_obito                  datetime64[ns]
tipo_de vítima                      object
faixa_etaria_demografica            object
faixa_etaria_legal                  object
profissao                           object
data_sinistro               datetime64[ns]
dtype: object

In [57]:
df_pessoas.idade = df_pessoas.idade.astype('Int64')

In [58]:
#df_pessoas.to_excel("pessoas.xlsx")